@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Landing section */
/* Controls the landing image */
.header{
  background-image: url('./asturias.jpg');
  height: 80vh;
  overflow: hidden;
  background-repeat: no-repeat; 	
  background-position: center;	
  background-size: cover;
  display: flex;
  align-items: center;
}

/* Controls the landing text */
.headerText{
   width: auto;
   padding: 5px;
   margin: 0 auto;
   text-align: center;
   color:whitesmoke;
   text-shadow: 2px 5px 2px black;
   display: block;
   background: rgba(0, 0, 0, 0.2);
   border-radius: 5px;
 }

 .header img{
  backdrop-filter: blur(10px);
 }

 .intro{
   margin-top: 20px;
   text-align: center;
 }

.sectionHeader{
   text-align: center;
   
 }

.table{
  width:90% !important;
  margin: 0 auto;
}

/* Footer section styles */
.footer{
  background-color: #141518;
  padding: 20px 0px;
  color: whitesmoke;
}

.footer .sectionHeader{
  margin-bottom: 20px;
}

/* Dynamic order section styles */
.orderModule{
  padding:10px;
}
.orderHeader{
  display: flex;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

#openOrderButton{
  margin-bottom: 20px;
}

#placeOrderButton{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.orderForm{
  padding: 10px;
  border: 1px solid grey;
  border-radius: 5px;
  box-shadow:5px 10px 10px lightslategray;
  margin-bottom: 20px;
}

.addToOrderButton{
  color: white;
  background-color:#5bc0de;
  border-radius: 5px;
  
}

.removeFromOrderButton{
  color: #292b2c;
  background-color:#f7f7f7;
  border-radius: 5px;
  
}